.catscales-dashboard.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

canvas {
    max-width: 60%;
}

.modal-content.preview-question .text_to_html {
    margin: 40px;
}

#page-local-catquiz-edit_testitem #testitemdashboard_contextselector .felement {
    flex: inherit;
    width: inherit;
}