.catscales-dashboard.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#page-local-catquiz-manage_catscales .tab-content {
    margin-top: 50px;
}

#page-local-catquiz-manage_catscales .last-edits {
    margin-top: 50px;
}

.catmanager-summary.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

canvas {
    max-width: 60%;
}

.modal-content.preview-question .text_to_html {
    margin: 40px;
}

#page-local-catquiz-edit_testitem #testitemdashboard_contextselector .felement {
    flex: inherit;
    width: inherit;
}

.catquiz-legend {
    text-align: left;
}
.catquiz-legend-description {
    margin-left: 1em;
}
.catquiz-legend-symbol {
    display: inline-block;
    width: 50px;
    height: 15px;
}

.catquiz-feedbackbar {
    margin-top: 5em;
    margin-bottom: 5em;
}

.catquiz-feedbackbar-bar {
    position: relative;
    width: 100%;
    height: 60px;
    border: 4px solid black;
}

.catquiz-feedbackbar-uppertext {
    position: absolute;
    width: 100%;
    top: -3em;
    text-align: center;
}

.catquiz-feedbackbar-lowertext {
    position: absolute;
    width: 100%;
    top: 4em;
    text-align: center;
}

span.wb_colourpick .colourpickercircle,
span.wb_colourpick .colourpickercircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 5px;
    border: 1px solid black;
}

span.wb_colourpick .colourpickercircle:hover,
span.wb_colourpick.colourpickercircle:hover {
    border-color: orange;
}
span.wb_colourpick .colourpickercircle.selected,
span.wb_colourpick.colourpickercircle.selected {
    border: 3px solid white;
    outline: 5px solid black;
}

.catquiz_feedback {
    text-align: left;
}

input.disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
    opacity: 1;
    pointer-events: none;
}
.card-body,
.card-header {
    cursor: initial;
}
.card-body-disabled,
div[contenteditable="false"] {
    cursor: not-allowed;
    background-color: #e9ecef;
    opacity: 1;
}
