{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
{
    "testitemsimporterdemodata": {
        "title": "Sample Test Items Importer Data",
        "columns": [
            {
                "name": "Question 1",
                "mandatory": true,
                "format": "Multiple Choice",
                "importinstruction": "Provide options in CSV format"
            },
            {
                "name": "Question 2",
                "mandatory": false,
                "format": "True/False",
                "importinstruction": "Provide 'true' or 'false'"
            },
            {
                "name": "Question 3",
                "mandatory": true,
                "format": null,
                "importinstruction": "Provide answers in plain text"
            }
        ],
        "demofileurl": "https://example.com/test_items_import_demo.csv"
    }
}
}}
{{#testitemsimporterdemodata}}
    <h4>{{title}}</h4>
    {{#columns}}
    <ul>
        <li><b>{{name}}</b> (
            {{#mandatory}}{{#str}} mandatory, local_catquiz{{/str}}, {{/mandatory}}
            {{^mandatory}}{{#str}} optional, local_catquiz{{/str}}, {{/mandatory}}
            {{#format}} {{#str}} format, local_catquiz{{/str}}: {{format}} {{/format}}
            {{^format}} {{#str}} openformat, local_catquiz{{/str}} {{/format}}) <br>
            <i>{{importinstruction}}</i>
        </li>
    </ul>

    {{/columns}}

    <a href="{{{demofileurl}}}">{{#str}} downloaddemofile, local_catquiz{{/str}}</a>
{{/testitemsimporterdemodata}}
