{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "feedback": {
            "studentfeedback": [
                {
                    "heading": "Student Feedback 1",
                    "comment": "This is a comment.",
                    "content": "This is the content of student feedback 1.",
                    "frontpage": "1",
                    "othertabs": "1"
                }
            ],
            "teacherfeedback": [
                {
                    "heading": "Teacher Feedback 1",
                    "comment": "This is a comment.",
                    "content": "This is the content of teacher feedback 1."
                }
            ]
        }
    }
}}


{{#feedback}}
    {{#studentfeedback.0}}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
    {{/studentfeedback.0}}
    {{#studentfeedback}}
        {{#frontpage}}
            <li class="nav-item">
                <a class="nav-link active" id="{{generatorname}}-tab" data-toggle="tab" href="#{{generatorname}}" role="tab" aria-controls="{{generatorname}}_feedbacktab" aria-selected="true">{{heading}}</a>
            </li>
        {{/frontpage}}
        {{#othertabs}}
            <li class="nav-item">
                <a class="nav-link" id="{{generatorname}}-tab" data-toggle="tab" href="#{{generatorname}}" role="tab" aria-controls="{{generatorname}}_feedbacktab" aria-selected="false">{{heading}}</a>
            </li>
        {{/othertabs}}
    {{/studentfeedback}}
    {{#teacherfeedback}}
            <li class="nav-item">
                <a class="nav-link" id="{{generatorname}}-tab" data-toggle="tab" href="#{{generatorname}}" role="tab" aria-controls="{{generatorname}}_feedbacktab" aria-selected="false">{{heading}}</a>
            </li>
    {{/teacherfeedback}}
    {{#studentfeedback.0}}
        </ul>
        <div class="tab-content" id="myTabContent">
    {{/studentfeedback.0}}

    {{#studentfeedback}}
        {{#frontpage}}
            <div class="tab-pane fade show active" id="{{generatorname}}_feedbacktab" role="tabpanel" aria-labelledby="{{generatorname}}-tab">
                <h5 id= "feedback-generator-heading-{{generatorname}}"> {{{heading}}} </h5>
                <i id= "feedback-generator-comment-{{generatorname}}"> {{{comment}}} </i>
                <div id= "feedback-generator-content-{{generatorname}}"> {{{content}}} </div>
            </div>
        {{/frontpage}}
        {{#othertabs}}
            <div class="tab-pane fade" id="{{generatorname}}_feedbacktab" role="tabpanel" aria-labelledby="{{generatorname}}-tab">
                <div id="feedbackcontent-{{generatorname}}">
                    <h5 id= "feedback-generator-heading-{{generatorname}}"> {{{heading}}} </h5>
                    <i id= "feedback-generator-comment-{{generatorname}}"> {{{comment}}} </i>
                    <div id= "feedback-generator-content-{{generatorname}}"> {{{content}}} </div>
                </div>
            </div>
        {{/othertabs}}
    {{/studentfeedback}}
    {{#teacherfeedback}}
            <div class="tab-pane fade" id="{{generatorname}}_feedbacktab" role="tabpanel" aria-labelledby="{{generatorname}}-tab">
                <div id="feedbackcontent-{{generatorname}}">
                    <h5 id= "feedback-generator-heading-{{generatorname}}"> {{{heading}}} </h5>
                    <i id= "feedback-generator-comment-{{generatorname}}"> {{{comment}}} </i>
                    <div id= "feedback-generator-content-{{generatorname}}"> {{{content}}} </div>
                </div>
            </div>
    {{/teacherfeedback}}
    {{#studentfeedback.0}}
        </div>
    {{/studentfeedback.0}}
{{/feedback}}