{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "feedback": {
            "studentfeedback": [
                {
                    "heading": "Student Feedback 1",
                    "content": "This is the content of student feedback 1.",
                    "frontpage": "1",
                    "othertabs": "1"
                }
            ],
            "teacherfeedback": [
                {
                    "heading": "Teacher Feedback 1",
                    "content": "This is the content of teacher feedback 1."
                }
            ]
        }
    }
}}


{{#feedback}}
    {{#studentfeedback}}
        {{#frontpage}}
            <h3>{{heading}}</h3>
            <div>{{{content}}}</div>
        {{/frontpage}}
    {{/studentfeedback}}
    {{#studentfeedback.0}}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-xl">{{#str}}moreinformation, local_catquiz{{/str}}</button>

            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-label="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Feedback</h5>
                        </div>
                        <div class="modal-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                    <a class="nav-link" id="fix-tab" data-toggle="tab" href="#fix" role="tab" aria-controls="fix" aria-selected="true">fix</a>
  </li>
    {{/studentfeedback.0}}
    {{#studentfeedback}}
  <li class="nav-item">
    <a class="nav-link" id="{{generatorname}}-tab" data-toggle="tab" href="#{{generatorname}}" role="tab" aria-controls="{{generatorname}}" aria-selected="false">{{generatorname}}</a>
  </li>
  {{/studentfeedback}}
{{#studentfeedback.0}}
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="fix" role="tabpanel" aria-labelledby="fix-tab">{{generatorname}}</div>
{{/studentfeedback.0}}
{{#studentfeedback}}
  <div class="{{generatorname}}-pane fade" id="{{generatorname}}" role="tabpanel" aria-labelledby="{{generatorname}}-tab">
                  <h2>{{heading}}</h2>
                <div>{{{content}}}</div>
  </div>
{{/studentfeedback}}
{{#studentfeedback.0}}
</div>
<!--in modal rein: lehrendenfeedback quizverlauf-->

                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close, local_catquiz{{/str}}</button>
                    </div>
                </div>
            </div>
    {{/studentfeedback.0}}
    {{#teacherfeedback.0}}
{{/feedback}}