{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a catquiz view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
    }
}}

<div class="catscales-dashboard grid">
  {{#user}}
    <div class="card">
      <div class="card-header">
        {{userdetails}}
      </div>
      <div class="card-body">
        <div><h6>{{name}}</h6> {{firstname}} {{lastname}}</div>
        <div><h6>{{emailtitle}}</h6>{{email}}</div>
      </div>
    </div>
  {{/user}}
  {{#stats}}
  <div class="card">
    <div class="card-header">
      {{statstitle}}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>{{numberofanswerstitle}}</th>
            <th>{{numberofanswerscorrecttitle}}</th>
            <th>{{numberofanswersincorrecttitle}}</th>
          </tr>
          <tr>
            <td class="table-info">{{numberofanswers}}</td>
            <td class="table-success">{{numberofanswerscorrect}}</td>
            <td class="table-danger">{{numberofanswersincorrect}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {{/stats}}
  {{#cards}}
  <div class="card">
      <div class="card-header">
          {{title}}
      </div>
      <div class="card-body">
        {{{body}}}
      </div>
  </div>
  {{/cards}}
  {{#courses}}
    <div class="card">
      <div class="card-header">
        {{enrolledcoursestitle}}
      </div>
      <div class="card-body">
        <ul>
          <li>
            {{fullname}}
          </li>
        </ul>
      </div>
    </div>
  {{/courses}}
</div>