{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a catquiz view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
      "summaryheading": "Summary Heading",
      "testitemsimporter": "Test Items Importer Content"
    }
}}

<h1>{{summaryheading}}</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#lcq_summary" role="tab" aria-controls="lcq_summary" aria-selected="true">{{#str}}summary, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="catscales-tab" data-toggle="tab" href="#lcq_catscales" role="tab" aria-controls="lcq_catscales" aria-selected="false">{{#str}} catscalesheading, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="questions-tab" data-toggle="tab" href="#lcq_questions" role="tab" aria-controls="lcq_questions" aria-selected="false">{{#str}}questions, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="testsandtemplates-tab" data-toggle="tab" href="#lcq_testsandtemplates" role="tab" aria-controls="lcq_testsandtemplates" aria-selected="false">{{#str}}testsandtemplates, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="quizattempts-tab" data-toggle="tab" href="#lcq_quizattempts" role="tab" aria-controls="lcq_quizattempts" aria-selected="false">{{#str}}quizattempts, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="calculations-tab" data-toggle="tab" href="#lcq_calculations" role="tab" aria-controls="lcq_calculations" aria-selected="false">{{#str}}calculations, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="versioning-tab" data-toggle="tab" href="#lcq_versioning" role="tab" aria-controls="lcq_versioning" aria-selected="false">{{#str}}versioning, local_catquiz{{/str}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="importer-tab" data-toggle="tab" href="#lcq_importer" role="tab" aria-controls="lcq_importer" aria-selected="false">{{#str}} import, core{{/str}}</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="lcq_summary" role="tabpanel" aria-labelledby="summary-tab">
    {{> local_catquiz/catscalemanager/summary}}
  </div>
  <div class="tab-pane fade" id="lcq_catscales" role="tabpanel" aria-labelledby="catscales-tab">
    {{> local_catquiz/catscalemanager/catscales}}
  </div>
  <div class="tab-pane fade" id="lcq_questions" role="tabpanel" aria-labelledby="questions-tab">
    {{> local_catquiz/catscalemanager/questions/questionsdisplay}}
  </div>
  <div class="tab-pane fade" id="lcq_testsandtemplates" role="tabpanel" aria-labelledby="testsandtemplates-tab">
    {{> local_catquiz/catscalemanager/testsandtemplates/testsandtemplatesdisplay}}
  </div>
  <div class="tab-pane fade" id="lcq_quizattempts" role="tabpanel" aria-labelledby="quizattempts-tab">
    {{> local_catquiz/catscalemanager/quizattempts/quizattemptsdisplay}}
  </div>
  <div class="tab-pane fade" id="lcq_calculations" role="tabpanel" aria-labelledby="calculations-tab">
    {{> local_catquiz/catscalemanager/calculations/calculationsdisplay}}
  </div>
  <div class="tab-pane fade" id="lcq_versioning" role="tabpanel" aria-labelledby="versioning-tab">
    {{> local_catquiz/catcontextdashboard}}
  </div>
  <div class="tab-pane fade" id="lcq_importer" role="tabpanel" aria-labelledby="importer-tab">
    {{{testitemsimporter}}}
    {{>local_catquiz/importer/importerdatainfodisplay}}
  </div>
</div>
