{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "comparisontext": "You performed better than 25% of your fellow students",
        "colorbar": {
            "colorgradestring": "#ff0000 0.00%, #ffff00 50.00%, #90ee90 100%",
            "testaverageability": 1.23,
            "userabilityposition": 15,
            "userability": 2.34,
            "testaverageposition": 26
        },
        "colorbarlegend": {
            "subfeedbacktext": "great",
            "subfeedbackrange": "(0-1)"
        },
        "subcolorcode": "#ff00f0",
        "subfeedbacktext": "Very good result",
        "abilityprofile": [
            {
                "charttitle": "Person ability relative to parentscale",
                "chart": "<div>...</div>"
            }
        ],
       "subfeedbackrange": "3.3-0"
    }
}}
{{{comparisontext}}}
{{#colorbar}}
    <div class="catquiz-feedbackbar">
        <div class="catquiz-feedbackbar-bar" style="background: linear-gradient(to right, {{colorgradestring}});">
            <div class="catquiz-feedbackbar-uppertext">
                {{currentability}}
                <span style="position: absolute; left: {{userabilityposition}}%;">
                    <span style="position: absolute; left: -15px; top: 1.5em; transform: rotate(180deg);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M 7.022 1.566 a 1.13 1.13 0 0 1 1.96 0 l 6.857 11.667 c .457 .778 -.092 1.767 -.98 1.767 H 1.144 c -.889 0 -1.437 -.99 -.98 -1.767 L 7.022 1.566z"/>
                        </svg>
                    </span>
                </span>
            </div>
            <div class="catquiz-feedbackbar-lowertext">
                <div style="position: absolute; width: 100%;"> <!-- legend -->
                    <span style="position: absolute; left: -0.5em;">{{lowerscalelimit}}</span>
                    <span style="position: absolute; right: -0.5em">{{upperscalelimit}}</span>
                </div>
                {{#comparetotestaverage_has_enough_peers}}
                <span style="position: absolute; left: {{testaverageposition}}%; margin-left: -15px; top: -1em;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M 7.022 1.566 a 1.13 1.13 0 0 1 1.96 0 l 6.857 11.667 c .457 .778 -.092 1.767 -.98 1.767 H 1.144 c -.889 0 -1.437 -.99 -.98 -1.767 L 7.022 1.566z"/>
                    </svg>
                </span>
                <div style="position: absolute; top: 2em; width: 100%;">{{currentabilityfellowstudents}}</div>
                {{/comparetotestaverage_has_enough_peers}}
            </div>
        </div>
    </div>
{{/colorbar}}
{{#colorbarlegend}}
    <div class="catquiz-legend">
        <h6>{{#str}}feedbackbarlegend, local_catquiz{{/str}}</h6>
        {{#feedbackbarlegend}}
            <div>
                <span class="catquiz-legend-symbol" style="background: {{subcolorcode}};"></span>
                <span class="catquiz-legend-description">{{subfeedbacktext}}</span>
                <span class="catquiz-legend-range">{{subfeedbackrange}}</span>
            </div>
        {{/feedbackbarlegend}}
    </div>
{{/colorbarlegend}}
{{#abilityprofile}}
    <h5 style="margin-top: 1em">
    {{{charttitle}}}
    </h5>
    {{{chart}}}
{{/abilityprofile}}
