{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "abilities": [
            {
                "ability": 1.23,
                "standarderror": 3.21,
                "name": "Mathematics",
                "isselectedscale": 1,
                "catscaleid": 3,
                "numberofitemsplayed": [
                    {
                        "noplayed": "0"
                    }
                ]
            },
            {
                "ability": 3.21,
                "standarderror": 1.23,
                "name": "catscale2",
                "isselectedscale": 0,
                "catscaleid": 3,
                "numberofitemsplayed": [
                    {
                        "itemsplayed": "3"
                    }
                ]
            }
        ],
        "chartdisplay": [
            {
                "charttitle": "Person ability relative to parentscale",
                "chart": "<div>...</div>"
            }
        ]
    }
}}
<p>{{{ feedback_details_description }}}</p>
{{#scale_info}}
    <p>{{{scale_info}}}</p>
{{/scale_info}}
<table style="margin: 1em 0" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{#str}} detected_scales_scalename, local_catquiz {{/str}}</th>
            <th scope="col">{{#str}} detected_scales_ability, local_catquiz{{/str}}</th>
            <th scope="col">{{#str}} detected_scales_number_questions, local_catquiz {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#abilities}}
        {{^is_global}}
        <tr>
            <td>{{pseudo_index}}</td>
            <td>{{name}}</td>
            <td>{{ability}} (±{{standarderror}})</td>
            <td>{{#numberofitemsplayed}}{{itemsplayed}}{{/numberofitemsplayed}}</td>
        </tr>
        {{/is_global}}
        {{/abilities}}
        <tr><td>{{#str}} detected_scales_reference, local_catquiz {{/str}}:</td><td></td><td></td><td></td></tr>
        {{#abilities}}
        {{#is_global}}
        <tr>
            <td></td>
            <td>{{name}}</td>
            <td>{{ability}} (±{{standarderror}})</td>
            <td>{{#numberofitemsplayed}}{{itemsplayed}}{{/numberofitemsplayed}}</td>
        </tr>
        {{/is_global}}
        {{/abilities}}
    </tbody>
</table>
<p>{{{chart_description}}}</p>
{{#chartdisplay}}
    <h6>{{{charttitle}}}</h6>
    {{{chart}}}
    <div style="margin: 1em 0">
{{#colorbar_legend}}
    <div class="catquiz-legend">
        <h6>{{#str}}feedbackbarlegend, local_catquiz{{/str}}</h6>
        {{#feedbackbarlegend}}
            <div>
                <span class="catquiz-legend-symbol" style="background: {{subcolorcode}};"></span>
                <span class="catquiz-legend-description">{{subfeedbacktext}}</span>
                <span class="catquiz-legend-range">{{subfeedbackrange}}</span>
            </div>
        {{/feedbackbarlegend}}
    </div>
{{/colorbar_legend}}
</div>
{{/chartdisplay}}
