{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a quiz attempt feedback.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "abilities": [
            {
                "ability": 1.23,
                "standarderror": 3.21,
                "name": "Mathematics",
                "isselectedscale": 1,
                "catscaleid": 3,
                "numberofitemsplayed": [
                    {
                        "noplayed": "0"
                    }
                ],
                "questionpreviews": [
                    {
                        "preview": "<div>...</div>"
                    },
                    {
                        "preview": "<div>...</div>"
                    }
                ]
            },
            {
                "ability": 3.21,
                "standarderror": 1.23,
                "name": "catscale2",
                "isselectedscale": 0,
                "catscaleid": 3,
                "numberofitemsplayed": [
                    {
                        "itemsplayed": "3"
                    }
                ],
                "questionpreviews": [
                    {
                        "preview": "<div>...</div>"
                    },
                    {
                        "preview": "<div>...</div>"
                    }
                ]
            }
        ],
        "chartdisplay": [
            {
                "charttitle": "Person ability relative to parentscale",
                "chart": "<div>...</div>"
            }
        ]
    }
}}
<h5>{{#str}}personabilitytitle, local_catquiz{{/str}}</h5>
<div class="container">
    {{#abilities}}
    <div class="row">
    {{#numberofitemsplayed}}
        <div {{#isselectedscale}}
                class="font-weight-bold col-4 text-right"
                data-toggle="tooltip"
                data-placement="top"
                title="{{tooltiptitle}}"
            {{/isselectedscale}}
            {{^isselectedscale}}
                class="font-weight-normal col-4 text-right"
            {{/isselectedscale}}>
            {{name}} :
        </div>
        <div {{#isselectedscale}}
                class="font-weight-bold col-4 text-left"
                data-toggle="tooltip"
                data-placement="top"
                title="{{tooltiptitle}}"
            {{/isselectedscale}}
            {{^isselectedscale}}
                class="font-weight-normal col-4 text-left"
            {{/isselectedscale}}>
            {{ability}} ({{#str}}standarderror, local_catquiz{{/str}}: {{standarderror}})
        </div>
        {{#itemsplayed}}
            <div class="btn btn-light btn-sm col" data-toggle="modal" data-target=".catquizfeedbackabilitiesplayedquestions_{{catscaleid}}">
                {{itemsplayed}} {{#str}}itemsplayed, local_catquiz{{/str}}
            </div>
        {{/itemsplayed}}
        {{/numberofitemsplayed}}
        <div class="modal fade bd-example-modal-xl catquizfeedbackabilitiesplayedquestions_{{catscaleid}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                {{#questionpreviews}}
                    <br> {{{preview}}} <br>
                {{/questionpreviews}}
            </div>
        </div>
        </div>
    </div>
    {{/abilities}}
</div>
{{#chartdisplay}}
    <h5>
    {{charttitle}}
    </h5>
    {{{chart}}}
{{/chartdisplay}}
{{#progressindividual}}
    <h5>
    {{charttitle}}
    </h5>
    {{{chart}}}
{{/progressindividual}}
{{#progresscomparison}}
    <h5>
    {{charttitle}}
    </h5>
    {{{chart}}}
{{/progresscomparison}}
{{#abilityprofile}}
    <h5>
    {{charttitle}}
    </h5>
    {{{chart}}}
{{/abilityprofile}}